<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>ALUMNI INFORMATION</h2>
      <form>
        <div class="form-group">
          <label>Institution</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>PROGRAM (S) TO BE EVALUATED </label> <input type="text" class="form-control" />
        </div>
        <p>
          <small>
            Intent: Adequate resources are set aside for student placement and maintaining relationship with her alumni.
            There is enough history of graduates.
          </small>
        </p>
      </form>
      <h2>A. How many students has the institution graduated over the past five years?</h2>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>2010-2011</th>
            <th>2011-2012</th>
            <th>2012-2013</th>
            <th>2013-2014</th>
            <th>2014-2015</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2>B. How many students have graduated under the program over the past five years?</h2>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>2010-11</th>
            <th>2011-12</th>
            <th>2012-13</th>
            <th>2013-14</th>
            <th>2014-15</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2>C. What facilities and resources are available to students for internships and placement?</h2>
      <div class="form-group">
        <input type="text" class="form-control" />
      </div>
      <h2>D. How does the university maintain contact with her alumni?</h2>
      <div class="form-group">
        <input type="text" class="form-control" />
      </div>
      <h2>E. Summary of the record of graduate’s placement in industry for the last five years</h2>
      <div class="form-group">
        <input type="text" class="form-control" />
      </div>
      <h2>F. Summary of the record of graduate’s placement in national and international institutions for MS and PhD
        studies </h2>
      <div class="form-group">
        <input type="text" class="form-control" />
      </div>
      <h2>G. Process to maintain communication with graduates</h2>
      <div class="form-group">
        <input type="text" class="form-control" />
      </div>
      <h2>Alumni Registered Association?</h2>
      <div class="form-group">
        <input type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label>Dean</label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label>Signature </label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label>Date</label> <input type="date" class="form-control" />
      </div>

    </div>
  </div>
</div>
<div class="my-btn">
  <div class="col-sm-12">
    <button type="button" class="btn btn-outline-primary">
      Submit Form
    </button>
  </div>
</div>