<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>INFRASTRUCTURE AND SUPPORT INFORMATION</h2>
      <form>
        <div class="form-group">
          <label>INSTITUTION</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>PROGRAM (S) TO BE EVALUATED </label>
          <input type="text" class="form-control" />
        </div>
      </form>

      <p>
        <small>
          Intent: Adequate infrastructure and support facilities are
          available to facilitate high quality teaching and learning.
        </small>
      </p>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td><label>Size of campus (in kanals)</label></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td><label>Covered area (sq ft)</label></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>Sizes of lecture rooms</td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>Instructional facilities provided in lecture rooms</td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>
                General computing lab facilities: total number of PCs and
                lab hours
              </td>
              <td><input type="text" /></td>
            </tr>

            <tr>
              <td>Nature and level of networking</td>
              <td><input type="text" /></td>
            </tr>

            <tr>
              <td>
                <label
                  >Specialized lab facilities and hours of their
                  availability
                </label>
              </td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>Student-to-computer ratio</td>
              <td>
                <table
                  width="100%"
                  border="1"
                  cellspacing="0"
                  cellpadding="0"
                >
                  <tr>
                    <td><label>2010-11</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2011-12</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2012-13</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2013-14</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2014-15</label></td>
                    <td><input type="text" /></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>Average lifetime of a PC in computing labs</td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>Library information</td>
              <td>
                <table
                  width="100%"
                  border="1"
                  cellspacing="0"
                  cellpadding="0"
                >
                  <tr>
                    <td><label>Area (sq ft)</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>Automated</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>Total Books</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>Total Computer Books</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td>
                      <label>Total Journals (Give full details) </label>
                    </td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>IEEE (Give full details) </label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>ACM (Give full details) </label></td>
                    <td><input type="text" /></td>
                  </tr>
                </table>
              </td>
            </tr>
                </table>
            
      </div>

      <form>
        <div class="form-group">
          <label>Dean</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>Signature </label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>Date</label> <input type="date" class="form-control" />
        </div>
      </form>
    </div>
  </div>
</div>
<div class="my-btn">
    <div class="col-sm-12">
      <button type="button" class="btn btn-outline-primary">
        Submit Form
      </button>
    </div>
  </div>