<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Admission</h2>
      <form>
        <div class="form-group">
          <label>Institution</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>PROGRAM (S) TO BE EVALUATED </label> <input type="text" class="form-control" />
        </div>
        <p>
          <small>
            Intent: Admission policies and procedures are in place and executed properly. Admitted students meet the HEC
            minimum criteria for admission into a computing program.
          </small>
        </p><br>
      </form>
      <h2>A. Admission Policies and Procedures</h2>
      <small> Frequency of admission per academic year. Give detail.</small>
      <div class="form-group">
        <input type="text" class="form-control" />
      </div>
      <small> When are new students admitted in the program?</small>
      <div class="form-group">
        <input type="text" class="form-control" />
      </div>
      <small> What instruments (scores in Matriculation and F.Sc exams, admission test, interview, etc.) are used for
        admission into the program?</small>
      <div class="form-group">
        <input type="text" class="form-control" />
      </div>
      <small> What is the minimum requirement for admission in your program?</small>
      <div class="form-group">
        <input type="text" class="form-control" />
      </div>
      <small> Is admission is open merit?</small>
      <div class="form-group">
        <input type="text" class="form-control" />
      </div>
      <small> How many students are inducted per admission</small>
      <div class="form-group">
        <input type="text" class="form-control" />
      </div>
      <small> How do you ensure that the admission policies and procedures are followed properly and that transparency
        is maintained in the admission process?</small>
      <div class="form-group">
        <input type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label>Dean</label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label>Signature </label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label>Date</label> <input type="date" class="form-control" />
      </div>

    </div>
  </div>
</div>
<div class="my-btn">
  <div class="col-sm-12">
    <button type="button" class="btn btn-outline-primary">
      Submit Form
    </button>
  </div>
</div>