<div class="container" style="margin-top:70px;">
  <div class="row">
    <div class="col-sm-12">
      <h2>STUDENTS INFORMATION</h2>
      <form>
        <div class="form-group">
          <label>Institution</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>PROGRAM (S) TO BE EVALUATED </label> <input type="text" class="form-control" />
        </div>
        <p>
          <small>
            Intent: Quality of intake is significant for the successful implementation of the program.
            Student-to-teacher ratio is reasonable. Students are provided out-of-class professional development
            opportunities.
          </small>
        </p>
      </form>
      <h2>A. Quality of intake over the past three years:</h2>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>years</th>
            <th>Average Matriculation (or equivalent) Scores in Percentage</th>
            <th>Average F.Sc. (or equivalent) Scores in Percentage</th>
          </thead>
          <tbody>
            <tr>
              <td>2012-2013</td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>

            </tr>
            <tr>
              <td>2013-2014</td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>

            </tr>
            <tr>
              <td>2014-2015</td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>

            </tr>
          </tbody>
        </table>
      </div>
      <h2>B. What has been the intake in the program for the past five years?</h2>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>2010-11</th>
            <th>2011-12</th>
            <th>2012-13</th>
            <th>2013-14</th>
            <th>2014-15</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2>C. What has been the student-to-teacher ratio for the program for the past five years?</h2>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>2010-11</th>
            <th>2011-12</th>
            <th>2012-13</th>
            <th>2013-14</th>
            <th>2014-15</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2>D. What are out-of-class opportunities provided to students for their professional development?</h2>
      <div class="form-group">
        <input type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label>Dean</label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label>Signature </label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label>Date</label> <input type="date" class="form-control" />
      </div>

    </div>
  </div>
</div>
<div class="my-btn">
  <div class="col-sm-12">
    <button type="button" class="btn btn-outline-primary">
      Submit Form
    </button>
  </div>
</div>