<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">Federal Urdu University</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto" *ngIf="role === 'Student' || 'admin'">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Administration Management
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
            <a class="dropdown-item" routerLink="/financial">Financial</a>
            <a class="dropdown-item" routerLink="/fieldAuditschedule">Field Audit Schedule
            </a>
            <a class="dropdown-item" routerLink="/fieldAuditguidelinesDR">Field Audit Guidelines-DR
            </a>
            <a class="dropdown-item" routerLink="/gradingpolicy">GradingPolicy
            </a>
            <a class="dropdown-item" routerLink="/infrastructure">Infrastructure
            </a>
            <a class="dropdown-item" routerLink="/programMonitoringProcess">ProgramMonitoringProcess(PMPF)
            </a>
            <a class="dropdown-item" routerLink="/admission">Admission Form</a>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="role === 'Student' || 'admin'">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Student Management
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
            <a routerLink="/studentinfoadmin" class="dropdown-item"
              href="./institution_faculty_information.html">Institution-Students Information
            </a>

            <a routerLink="/studentinfo" class="dropdown-item"
              href="./institution_faculty_information.html">Students Information
            </a>

            <a routerLink="/alumniinfo" class="dropdown-item"
              href="./institution_faculty_information.html">Alumni Information
            </a>
            <!-- <a
            class="dropdown-item"
            href="./institution_students_information.html"
            >StudentInformation
          </a> -->
            <!-- <a class="dropdown-item" routerLink="/studentreport">Student Reports
            </a> -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Faculty Management
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
            <a class="dropdown-item" routerLink="/facultyInformationFIF">Faculty Information FIF</a>
            <a class="dropdown-item" routerLink="/institutionfaculty">Institution Faculty</a>
            <!-- <a
            class="dropdown-item"
            routerLink="/institutionFacultyInformation"
            >Institution-Faculty Information
          </a> -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Course Management
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
            <a class="dropdown-item" routerLink='/coursevisit'>Course Display for the Visit
            </a>

            <a class="dropdown-item" routerLink="/courselog">CourseLog Template (CLT)
            </a>

            <a class="dropdown-item" routerLink='/coursemonitor'>Course Monitoring Process (CMPF)
            </a>

            <a class="dropdown-item" routerLink='/courseregistration'>Course Registration
            </a>

            <a class="dropdown-item" routerLink='/coursemanagement'>Course Description
            </a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Curriculum Management
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
            <a class="dropdown-item" routerLink="/curriculum">CurriculumRelatedInformation
            </a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Reports
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
            <a class="dropdown-item" routerLink='/financialreport'> Financial Report
            </a>

            <a class="dropdown-item" routerLink="/fieldauditreport"> Field Audit Schedule Report
            </a>

            <a class="dropdown-item" routerLink='/fieldauditguidelinereport'> Field Audit Guidelines-DR Report
            </a>

            <a class="dropdown-item" routerLink='/gradingpolicyreport'> GradingPolicy Report
            </a>

            <a class="dropdown-item" routerLink='/infrastructurereport'> Infrastructure Report
            </a>

            <a class="dropdown-item" routerLink='/programmonitorreport'> ProgramMonitoringProcess(PMPF) Report
            </a>

            <a class="dropdown-item" routerLink='/studentreport'> Student Reports
            </a>

            <a class="dropdown-item" routerLink='/facultyreport'> Faculty Information FIF Reports
            </a>

            <a class="dropdown-item" routerLink='/coursedisplayreport'> Course Display for the Visit Reports
            </a>

            <a class="dropdown-item" routerLink='/courselogreport'> CourseLog Template (CLT) Reports
            </a>

            <a class="dropdown-item" routerLink='/coursemonitorreport'> Course Monitoring Process (CMPF) Reports
            </a>

            <a class="dropdown-item" routerLink='/courseregistrationreport'> Course Registration Reports
            </a>

            <a class="dropdown-item" routerLink='/coursedescriptionreport'> Course Description Reports
            </a>

            <a class="dropdown-item" routerLink='/curriculumreport'> Curriculum Related Information Report
              </a>
          </div>
        </li>
<!-- 
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Signup</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>