<header style="margin-top: 30px">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background: url('../../../assets/img/1.jpg');   background-repeat: no-repeat;   background-size: cover;">
          <div class="carousel-caption d-none d-md-block">
            <h3>First Slide</h3>
            <p>This is a description for the first slide.</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background: url('../../../assets/img/2.jpg');   background-repeat: no-repeat;   background-size: cover;">
          <div class="carousel-caption d-none d-md-block">
            <h3>Second Slide</h3>
            <p>This is a description for the second slide.</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background: url('../../../assets/img/3.jpg');   background-repeat: no-repeat;   background-size: cover;">
          <div class="carousel-caption d-none d-md-block">
            <h3>Third Slide</h3>
            <p>This is a description for the third slide.</p>
          </div>
        </div>
        <!-- Slide Four - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background: url('../../../assets/img/4.jpg');   background-repeat: no-repeat;   background-size: cover;">
          <div class="carousel-caption d-none d-md-block">
            <h3>Fourth Slide</h3>
            <p>This is a description for the fourth slide.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

<!-- Page Content -->
<div class="container">

  <!-- Portfolio Section -->
  <h2 style="margin-top: 50px;">News</h2>

  <div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="../../../assets/img/bla.png" alt="" /></a>
        <div class="card-body">
          <h4 class="card-title"><a href="#">Accreditation Visits</a></h4>
          <p class="card-text">
            1-Zero Visit for those Institutes, that launch new
            computing program. <br>2- Interim Visit Interim Visit for those
            batches, which are yet to be accredited. The Interim Visit will
            be conducted during the Second/Third year of the program.<br> 3-
            Accreditation Visit Accreditation visit will be conducted in the
            final year of those batches, which are going to be graduated.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="../../../assets/img/bla.png" alt="" /></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#"> REVISED ACCREDITATION FEE STRUCTURE OF CSAS </a>
          </h4>
          <p class="card-text">
            The CSAS Accreditation Fee has been increased from Rs.
            100,000/- to Rs. 150,000/- per computing program w.e.f July 1,
            2013. A BANK DRAFT OF RS. 150,000/- PER COMPUTING PROGRAM
            PAYABLE TO CSAS MUST BE SUBMITTED WITH ANY APPLICATION RECEIVED
            AFTER JULY 01, 2019
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="../../../assets/img/bla.png" alt="" /></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Welcome to CSAS's new website </a>
          </h4>
          <p class="card-text">
            The newly developed website of CSAS has been launched on
            February 6, 2019. Universities/Institutes Rating information is
            available on the site.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="../../../assets/img/bla.png" alt="" /></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#"> Required Faculty and Students Information </a>
          </h4>
          <p class="card-text">
            CSAS added Students and Faculty information forms named
            "Institution-Faculty Information" and "Institution-Students
            Information" along with 16 Application Forms. It is to Inform
            all Institutes to provide Students and Faculty Information by
            filling these forms along with Accreditation Application. CSAS
            will not process the accreditation application till the
            Institutes provide the faculty and students information as CSAS
            Required.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="../../../assets/img/bla.png" alt="" /></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#"> Parents and Students Alert </a>
          </h4>
          <p class="card-text">
            HEC released Students and Parents Alert about the Accreditation
            Councils
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Features Section -->
  <div class="row">
    <div class="col-sm-12">
      <h2>Computer Science Accreditation System</h2>
      <p>
        Federal Urdu University of Science And Technology has setup an
        accreditation authority, Computer Science Accreditation System
        (CSAS). CSAS will look after the matter regarding the accreditation
        of departments of the institute and , faculties and disciplines by
        giving them appropriate ratings and define the organization's
        objectives, functions and duties to be performed. It will
        periodically evaluate, scrutinize and monitor the standards followed
        in different Universities, Degree Awarding Institutions and their
        affiliated colleges offering computing degree programs.
      </p>
    </div>
  </div>
  <!-- /.row -->

  <hr />
</div>
<!-- /.container -->


