<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>COURSE DESCRIPTION FORM</h2>
      <form [formGroup]="addCoursedes">
        <div class="form-group">
          <label>INSTITUTION</label>
          <input type="text" formControlName="institution" class="form-control" />
        </div>
        <div class="form-group">
          <label>PROGRAM (S) TO BE EVALUATED </label>
          <input type="text" class="form-control" formControlName="program"/>
        </div>
  

      <h2>A. Course Description</h2>
      <p>
        <small>
          (Fill out the following table for each course in your computer
          science curriculum. A filled out form should not be more than 2-3
          pages.)
        </small>
      </p>

      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td><label>Course Code</label></td>
              <td><input type="text" formControlName="courseCode" /></td>
            </tr>
            <tr>
              <td><label>Course Title</label></td>
              <td><input type="text"  formControlName="courseTitle"/></td>
            </tr>
            <tr>
              <td><label>Prerequisites by Course(s) and Topics</label></td>
              <td><input type="text"/></td>
            </tr>
            <tr>
              <td>
                <label
                  >Assessment Instruments with Weights (homework, quizzes,
                  midterms, final, programming assignments, lab work,
                  etc.)</label
                >
              </td>
              <td><input type="text" formControlName="assessment"/></td>
            </tr>
            <tr>
              <td><label>Course Coordinator</label></td>
              <td><input type="text"  formControlName="courseCoordinator"/></td>
            </tr>

            <tr>
              <td><label>URL (if any)</label></td>
              <td><input type="text" formControlName="url" /></td>
            </tr>
            <tr>
              <td><label>Current Catalog Description</label></td>
              <td><input type="text" formControlName="currentCatalog"/></td>
            </tr>
            <tr>
              <td>
                <label
                  >Textbook (or Laboratory Manual for Laboratory
                  Courses)</label
                >
              </td>
              <td><input type="text"  formControlName="textBook"/></td>
            </tr>
            <tr>
              <td><label>Reference Material</label></td>
              <td><input type="text" formControlName="referenceMaterial"/></td>
            </tr>
            <tr>
              <td><label>Course Goals</label></td>
              <td><input type="text" formControlName="courseGoals"/></td>
            </tr>
            <tr>
              <td>
                <label
                  >Topics Covered in the Course, with Number of Lectures on
                  Each Topic (assume 15-week instruction and one-hour
                  lectures)</label
                >
              </td>
              <td><input type="text" formControlName="topics"/></td>
            </tr>
            <tr>
              <td>
                <label
                  >Laboratory Projects/Experiments Done in the Course</label
                >
              </td>
              <td><input type="text" formControlName="laboratory"/></td>
            </tr>
            <tr>
              <td>
                <label>Programming Assignments Done in the Course</label>
              </td>
              <td><input type="text"  formControlName="programmingAssignment"/></td>
            </tr>
            <tr>
              <td><label>Class Time Spent on (in credit hours)</label></td>
              <td>
                <table
                  width="100%"
                  border="1"
                  cellspacing="0"
                  cellpadding="0"
                >
                  <tr>
                    <td><label>Theory</label></td>
                    <td><input type="text"  /></td>
                  </tr>
                  <tr>
                    <td><label>Problem Analysis</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>Solution Design</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>Social and Ethical Issues</label></td>
                    <td><input type="text" /></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td><label>Oral and Written Communications</label></td>
              <td>
                <p>
                  Every student is required to submit at least
                  <input type="text"  /> written reports of typically
                  <input type="text" /> pages and to make
                  <input type="text" /> oral presentations of typically
                  <input type="text" /> minute’s duration. Include only
                  material that is graded for grammar, spelling, style, and
                  so forth, as well as for technical content, completeness,
                  and accuracy.
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      
        <div class="form-group">
          <label>Instructor Name</label>
          <input type="text" class="form-control" formControlName="instructorName"/>
        </div>
        <div class="form-group">
          <label>Instructor Signature </label>
          <input type="text" class="form-control" formControlName="instructorSig"/>
        </div>
        <div class="form-group">
          <label>Date</label> <input type="date" class="form-control" formControlName="date" />
        </div>
      </form>
    </div>
    
  </div>
</div>
<div class="my-btn">
    <div class="col-sm-12">
      <button type="button" class="btn btn-outline-primary" (click)="saveCoursereg($event)">
        Submit Form
      </button>
    </div>
  </div>