<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>PROGRAM MONITORING PROCESS FORM</h2>
      <form>
        <div class="form-group">
          <label>INSTITUTION</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>PROGRAM (S) TO BE EVALUATED </label>
          <input type="text" class="form-control" />
        </div>
      </form>
      <h2>
        A:Process to monitor the implementation of the overall program to
        ensure the following important attributes:
      </h2>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>Criteria/Attribute</th>
            <th>Existing Process</th>
          </thead>
          <tbody>
            <tr>
              <td>
                
                  How far objectives of the program have been achieved?
              
              </td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>
               
                  How frequent program is reviewed and revised? What is
                  process/procedure?
             
              </td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>
                Summary of Problems Solving Skills Developed by the Program
              </td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>Summary of technologies exposed to the students</td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>Assessment Standards</td>
              <td><input type="text" /></td>
            </tr>

            <tr>
              <td>
                How far program correlates with the existing industrial
                trends? Give details
              </td>
              <td><input type="text" /></td>
            </tr>

            <tr>
              <td>Application of emerging technologies</td>
              <td><input type="text" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="my-btn">
    <div class="col-sm-12">
      <button type="button" class="btn btn-outline-primary">
        Submit Form
      </button>
    </div>
  </div>