<div class="container">
  <form [formGroup]="addCoursemonitor">
  <div class="row">
    <div class="col-sm-12">
      <h2>COURSE MONITORING PROCESS FORM</h2>
        <div class="form-group">
          <label>INSTITUTION</label>
          <input type="text" formControlName="institution" class="form-control" />
        </div>
        <div class="form-group">
          <label>PROGRAM (S) TO BE EVALUATED </label>
          <input type="text" formControlName="program" class="form-control" />
        </div>
       
      <h2>
        A.  Process to monitor the implementation of courses to ensure the following important attributes:
      </h2>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>Criteria/Attribute</th>
            <th>Existing Process</th>
          </thead>
          <tbody>
            <tr>
              <td>
                
                  How far objectives of the program have been achieved?
                
              </td>
              <td><input type="text"  formControlName="q1"/></td>
            </tr>
            <tr>
              <td>
                
                  Full coverage of contents
              </td>
              <td><input type="text" formControlName="q2" /></td>
            </tr>
            <tr>
              <td>
                Relevant Problems Skills Development


              </td>
              <td><input type="text" formControlName="q3" /></td>
            </tr>
            <tr>
              <td>Assessment Standards</td>
              <td><input type="text"  formControlName="q4"/></td>
            </tr>
            <tr>
              <td>Application of emerging technologies</td>
              <td><input type="text" formControlName="q5" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
    <div class="form-group">
      <label>Program Coordinator:Name: </label>
      <input type="text" class="form-control"  formControlName="programCoordinatorName"/>
    </div>
    <div class="form-group">
      <label>Signature </label>
      <input type="text" class="form-control" formControlName="siganture" />
    </div>
    <div class="form-group">
      <label>Date</label> <input type="date" class="form-control"  formControlName="submitDate"/>
    </div>
</form>
</div>
    
<div class="my-btn">
    <div class="col-sm-12">
      <button type="button" class="btn btn-outline-primary" (click)="saveCoursemonitor($event)">
        Submit Form
      </button>
    </div>
  </div>