<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Filed Audit Guidelines</h2>
      <h2>
        DOCUMENTS REQUIRED REGRADING THE COMPUTING PROGRAM UNDER EVALUATION
        FOR THE ACCERDITATION
      </h2>
      <h4>
        The following documentation should be available for the evaluation
        by the Inspection Committee
      </h4>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>Category</th>
            <th>Sub-Category</th>
            <th>Document Required</th>
          </thead>
          <tbody>
            <tr>
              <td>Program</td>
              <td>Curriculum Documentation</td>
              <td>
                The respective BS program should be documented in the
                following manner:<br> a. Program Objective <br> b. Program Structure
                (Core and Electives) <br>• No of Years <br>• Total Credit Hours <br>c.
                Program Requirements-Summary of all required courses <br>d. For
                each course in program, the following is required:<br> •
                Objectives <br>• Structure (Lecture+ Lab) <br>• Credit Hours<br> •
                Prerequisite <br>• Contents <br>• Reference Material <br>• (Names,
                Authors, Publisher, Year, and<br> ISBN for each book used)
              </td>
            </tr>
            <tr>
              <td>Program</td>
              <td>Curriculum Implementation/ Course Folder</td>
              <td>
                A COURSE FOLDER/FILE will be required for each course of the
                respective program. The following information is to be
                documented in each folder/file:<br> a. Course Objectives<br> b.
                Course Contents <br>c. Weekly plan of contents of lectures
                delivered <br>d. Attendance Record <br>e. Copy of lecture notes <br>f.
                List of Reference Material <br>g. Copy of assignments, quizzes,
                midterms and final examinations <br>h. Model solutions of all
                assessments tests given in (g) above <br>i. Three sample graded
                assignments, quizzes, midterms and final examination
                securing max, min and average marks <br>j. Marks distribution
                and Grading Model <br>k. Complete result of the course <br>l.
                Outcomes Assessment <br>m. Detail of technology involved <br>n.
                Design skills/techniques practiced <br>o. Complete analysis of
                effectiveness of course and level of silks ensured in: <br>◦
                Technology <br>◦ Emerging Development Paradigms <br>◦ Pertaining to
                Industry <br>◦ Modeling and Design <br><h2>Lab Component</h2><br> If course has
                an additional credit hour pertaining to Lab, then an
                independent folder/file be maintained to provide the
                following:<br> a. Lab Objectives <br>b. Lab Contents <br>c. Weekly plan
                of contents of lab lectures delivered <br>d. Attendance Record<br>
                e. Copy of material given to students <br>f. List of Reference
                Material <br>g. Copy of assignments, quizzes, examinations given
                in lab<br><br><br><br> h. Model solutions of all assessments tests given in
                lab <br><br><br>i. Three sample graded assignments, quizzes, and
                examination securing max, min and average marks <br><br>j. Complete
                result of the lab <br>k. Outcomes Assessment <br>l. Detail of
                technology involved <br>m. Design skills/techniques practiced <br>n.
                Complete analysis of effectiveness of lab and level of silks
                ensured in:<br> ◦ Technology <br>◦ Emerging Development Paradigms <br>◦
                Pertaining to Industry <br>◦ Modeling and Design
              </td>
            </tr>
            <tr>
              <td>Effectiveness of Overall Program</td>
              <td>Curriculum Implementation/ Course Folder</td>
              <td>
                Complete analysis of effectiveness of program and summary of
                level of silks achieved in the following domain: <br>◦
                Technology <br>◦ Emerging Development Paradigms <br>◦ Pertaining to
                Industry <br>◦ Modeling and Design
              </td>
            </tr>
            <tr>
              <td>Students Evaluation of Course and Instructor</td>
              <td>Curriculum Implementation/ Course Folder</td>
              <td>
                Record of how students have been evaluating both course and
                instructors in particularly all courses taught by the
                permanent faculty
              </td>
            </tr>
            <tr>
              <td>Class Schedule</td>
              <td>Curriculum Implementation/ Course Folder</td>
              <td>Complete Academic Year</td>
            </tr>
            <tr>
              <td>Lab Schedule</td>
              <td>Curriculum Implementation/ Course Folder</td>
              <td>Complete Academic Year</td>
            </tr>
            <tr>
              <td>Senior Design/ Graduating Project</td>
              <td>Curriculum Implementation/ Course Folder</td>
              <td>
                Summary of all senior design/graduating projects comprising
                of the following: <br>• Scientific areas/applications covered <br>•
                Emerging Technologies used <br>• Correlation with the industrial
                practices and trends <br>• Project Reports <br>• Project Demos
              </td>
            </tr>
            <tr>
              <td>Alumni Data Collection</td>
              <td>Curriculum Implementation/ Course Folder</td>
              <td>
                • Statistics on entry and graduation of all students in the
                respective program <br>• Record regarding placement in industry
                of graduates from the respective program <br>• Record of
                placement of graduates in international and national
                universities for higher education
              </td>
            </tr>
            <tr>
              <td>Faculty Contracts</td>
              <td>Curriculum Implementation/ Course Folder</td>
              <td>
                A record of offer/contract letters issued to all permanent
                faculty members
              </td>
            </tr>
            <tr>
              <td>Admission and Eligibility</td>
              <td>Curriculum Implementation/ Course Folder</td>
              <td>
                • Admission procedure/policy and eligibility <br>• Previous data
                on admission <br>• Student strength and dropout
              </td>
            </tr>
            <tr>
              <td>Annual Budget</td>
              <td>Curriculum Implementation/ Course Folder</td>
              <td>A copy of current annual budget</td>
            </tr>
            <tr>
              <td>Labs</td>
              <td>Curriculum Implementation/ Course Folder</td>
              <td>
                Complete inventory, schedule and relevant manual of all labs
                relevant to the respective computing program
              </td>
            </tr>
            <tr>
              <td>Rules & Regulations, Statutes and Procedures</td>
              <td>Curriculum Implementation/ Course Folder</td>
              <td>
                All approved rules & regulation including the following:<br> •
                Admissions <br>• Registrations <br>• Examinations <br>• Academic
                probations <br>• Discipline <br>• Faculty hiring, evaluation and
                promotion <br>• Revision of curriculum
              </td>
            </tr>
            <tr>
              <td>Financial Profile</td>
              <td>Curriculum Implementation/ Course Folder</td>
              <td>
                A survey of total investments made on the program under
                evaluation since its inception involving: <br>• Human Resource
                including Faculty Staff, Administrative and Supporting Staff<br>
                • Office Equipment <br>• Labs/Technology<br> • Infrastructure <br>•
                Library/Books <br>• Allied facilities
              </td>
            </tr>
          </tbody>
        </table>
        <form>
        <div class="form-group">
          <label>Date</label> <input type="date" class="form-control" />
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
<div class="my-btn">
    <div class="col-sm-12">
      <button type="button" class="btn btn-outline-primary">
        Submit Form
      </button>
    </div>
  </div>