<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>FACULTY INFORMATION FORM</h2>
      <form [formGroup]="addFacultyinfo">
        <div class="form-group">
          <label>INSTITUTION</label>
          <input type="text" class="form-control" formControlName="institution" />
        </div>
        <div class="form-group">
          <label>PROGRAM (S) TO BE EVALUATED </label>
          <input type="text" class="form-control" formControlName="program" />
        </div>
     
      <div>
        <p>
          <small>
            Intent: There are sufficient faculty members, and faculty
            members have adequate technical background, are current, and
            have the necessary depth and breadth to cover adequately a
            modern Computing curriculum. There is enough stability in the
            program as it should be evident by the hiring and retention of
            high quality faculty and institutional support in this regard.
          </small>
        </p>
      </div>

      <h2>A: Full-Time Faculty Information</h2>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>Full-Time Faculty Size</th>
            <th>Number of faculty members with PhD Or Ms</th>
            <th>Full Professors</th>
            <th>Associate Professors</th>
            <th>Assistant Professors</th>
            <th>Lecturers</th>
            <th>Teaching Assistants/Fellows</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" formControlName="facultySize"/></td>
              <td><input type="text" formControlName="noOfFaculty" /></td>
              <td><input type="text" formControlName="fullProfrssor" /></td>
              <td><input type="text" formControlName="associateProfessor" /></td>
              <td><input type="text" formControlName="assistantProfessor" /></td>
              <td><input type="text" formControlName="leacures" /></td>
              <td><input type="text" formControlName="teaching" /></td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2>B: Part-Time Faculty Information</h2>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>Full-Time Faculty Size</th>
            <th>Number of faculty members with PhD Or Ms</th>
            <th>Full Professors</th>
            <th>Associate Professors</th>
            <th>Assistant Professors</th>
            <th>Lecturers</th>
            <th>Teaching Assistants/Fellows</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" formControlName="facultySize1" /></td>
              <td><input type="text" formControlName="noOfFaculty1"/></td>
              <td><input type="text" formControlName="fullProfrssor1"/></td>
              <td><input type="text" formControlName="associateProfessor1"/></td>
              <td><input type="text" formControlName="assistantProfessor1"/></td>
              <td><input type="text" formControlName="leacures1"/></td>
              <td><input type="text" formControlName="teaching1"/></td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2>
        C: Full-Time Faculty Stability Information in the Relevant Computing
        Program (S)
      </h2>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>Year</th>
            <th>Total Faculty</th>
            <th>Resigned</th>
            <th>Retired</th>
            <th>Terminated</th>
            <th>New Induction</th>
          </thead>
          <tbody>
            <tr>
             <td>2011-2012</td>
              <td><input type="text"  formControlName="totalFaculty" /></td>
              <td><input type="text"  formControlName="resigned" /></td>
              <td><input type="text"  formControlName="retired" /></td>
              <td><input type="text"   formControlName="terminated"/></td>
              <td><input type="text" formControlName="newInduction" /></td>
            </tr>
            <tr>
              <td>2012-2013</td>
              <td><input type="text" formControlName="totalFaculty1" /></td>
              <td><input type="text" formControlName="resigned1"/></td>
              <td><input type="text" formControlName="retired1"/></td>
              <td><input type="text" formControlName="terminated1"/></td>
              <td><input type="text" formControlName="newInduction1"/></td>
            </tr>
            <tr>
              <td>2013-2014</td>
              <td><input type="text"  formControlName="totalFaculty2"  /></td>
              <td><input type="text"  formControlName="resigned2"/></td>
              <td><input type="text" formControlName="retired2"/></td>
              <td><input type="text" formControlName="terminated2"/></td>
              <td><input type="text" formControlName="newInduction2"/></td>
            </tr>
            <tr>
              <td>2014-2015</td>
              <td><input type="text"  formControlName="totalFaculty3"/></td>
              <td><input type="text" formControlName="resigned3" /></td>
              <td><input type="text" formControlName="retired3"/></td>
              <td><input type="text" formControlName="terminated3" /></td>
              <td><input type="text" formControlName="newInduction3"/></td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
    <h2>D:Full-Time Faculty Profile </h2>
    <div class="table-wrapper">
      <table width="100%" border="1" cellspacing="0" cellpadding="0">
        <thead>
          <th>Name</th>
          <th>Academic Degree (s)</th>
          <th>Degree Awarding Institution</th>
          <th>Subject and Specielization</th>
          <th>Higher Education</th>
          <th>Industry</th>
          <th>International</th>
          <th>Local</th>
          <th>International</th>
          <th>Local</th>
          <th>Books</th>
          <th>Book Chapter</th>
          <th>Patents</th>
          <th>Tech Reports</th>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>
      <small>
        E: PROVIDE A COMPLETE LIST OF ALL PUBLICATIONS BY THE FACULTY MEMBERS IN JOURNALS
      </small>
    </p><br>

    <p>
      <small>
        F: PROVIDE A COMPLETE LIST OF ALL PUBLICATIONS BY THE FACULTY MEMBERS IN INTERNATIONAL
        CONFERENECS

      </small>
    </p><br>
    <p>
      <small>
        G: PROVIDE A COMPLETE LIST OF ALL PUBLICATIONS BY THE FACULTY MEMBERS IN NATIONAL
        CONFERENECS

      </small>
    </p><br>
    <p>
      <small>
        H: PROVIDE A COMPLETE LIST OF BOOKS PUBLISHED BY THE FACULTY MEMBERS INDICATING TITLE,AUTHOR (S), PUBLISHER and
        YEAR
      </small>
    </p><br>
    <p>
      <small>
        I: PROVIDE A COMPLETE RECORD PERTAINING TO THE INDUSTRIAL EXPERIENCE
      </small>
    </p><br>
    <h2>E. Profile of Visiting Faculty Members </h2>
    <div class="table-wrapper">
      <table width="100%" border="1" cellspacing="0" cellpadding="0">
        <p>
          <small>
            Provide the following information regarding the ALL VISITING FACULTY MEMBERS hired to teach course (s) in
            the program for the batches under the evaluation for the accreditation in the following manner
          </small>
        </p><br>
        <thead>
          <th>Sr. No. </th>
          <th>Name</th>
          <th>Qualifications(All degrees, with name of institutions, subjects and dates) </th>
          <th>Teaching Experience</th>
          <th>Research/Industrial Experience</th>
          <th>Name of Courses Taught </th>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2>F. Teaching Load </h2>
    <div class="table-wrapper">
      <table width="100%" border="1" cellspacing="0" cellpadding="0">
        <p>
          <small>
            The teaching load of a full-time faculty member is ________ courses per year.
          </small>
        </p><br>
      </table>
    </div>
    <h2>G. Scholarly Activities </h2>
    <div class="table-wrapper">
      <table width="100%" border="1" cellspacing="0" cellpadding="0">
        <p>
          <small>
            Describe how the university ensures that all full-time faculty members have sufficient time for scholarly
            activities including research and professional development.
          </small>
        </p><br>
        <form>
          <div class="form-group">

            <input type="text" class="form-control" />
          </div>
        </form>
      </table>
    </div>

    <h2>H. Support for Advising </h2>
    <div class="table-wrapper">
      <table width="100%" border="1" cellspacing="0" cellpadding="0">

        <p>
          <small>
            Advising duties must be a recognized part of faculty members’ workloads, which means that faculty with large
            numbers of advisees must be compensated for his/her effort in total load. Explain your student advising
            system. What is the average number of advisees per full-time faculty member?
          </small>
        </p><br>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" />
          </div>
        </form>
      </table>
    </div>
    <h2>I. Faculty Hiring Procedures </h2>
    <div class="table-wrapper">
      <table width="100%" border="1" cellspacing="0" cellpadding="0">
        <form>
          <div class="form-group">

            <input type="text" class="form-control" />
          </div>
        </form>
      </table>
    </div>
    <h2>J. Faculty Promotion Policy </h2>
    <div class="table-wrapper">
      <table width="100%" border="1" cellspacing="0" cellpadding="0">
        <form>
          <div class="form-group">

            <input type="text" class="form-control" />
          </div>
        </form>
      </table>
    </div>
    <h2>K. Information Regarding Faculty Members </h2>
    <div class="table-wrapper">
      <table width="100%" border="1" cellspacing="0" cellpadding="0">
        <p>
          <small>
            Fill out the following form for ALL (FULL- AND PART-TIME) FACULTY MEMBERS, who are teaching courses in the
            computing program under the evaluation for the accreditation, including those who have administrative
            positions in the university or the department (vice chancellor, dean, associate dean, chair, associate
            chair, etc.). Please limit information to no more than two pages per person. Please place the form(s) for
            administrator(s) first, followed by the others in alphabetical order.
          </small>
        </p><br>
      </table>
    </div>
  </div>
    </div>
</div>
<div class="my-btn">
    <div class="col-sm-12">
      <button type="button" class="btn btn-outline-primary" (click)="saveAddfac($event)">
        Submit Form
      </button>
    </div>
  </div>