<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>FACULTY INFORMATION FORM</h2>
      <form [formGroup]="addFacultyinfo">
        <div class="form-group">
          <label>INSTITUTION</label>
          <input type="text" class="form-control" formControlName="institution" />
        </div>
        <div class="form-group">
          <label>PROGRAM (S) TO BE EVALUATED </label>
          <input type="text" class="form-control" formControlName="program" />
        </div>
     
      <div>
        <p>
          <small>
            Intent: There are sufficient faculty members, and faculty
            members have adequate technical background, are current, and
            have the necessary depth and breadth to cover adequately a
            modern Computing curriculum. There is enough stability in the
            program as it should be evident by the hiring and retention of
            high quality faculty and institutional support in this regard.
          </small>
        </p>
      </div>

      <h2>A: Full-Time Faculty Information</h2>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>Full-Time Faculty Size</th>
            <th>Number of faculty members with PhD Or Ms</th>
            <th>Full Professors</th>
            <th>Associate Professors</th>
            <th>Assistant Professors</th>
            <th>Lecturers</th>
            <th>Teaching Assistants/Fellows</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" formControlName="facultySize"/></td>
              <td><input type="text" formControlName="noOfFaculty" /></td>
              <td><input type="text" formControlName="fullProfrssor" /></td>
              <td><input type="text" formControlName="associateProfessor" /></td>
              <td><input type="text" formControlName="assistantProfessor" /></td>
              <td><input type="text" formControlName="leacures" /></td>
              <td><input type="text" formControlName="teaching" /></td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2>B: Part-Time Faculty Information</h2>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>Full-Time Faculty Size</th>
            <th>Number of faculty members with PhD Or Ms</th>
            <th>Full Professors</th>
            <th>Associate Professors</th>
            <th>Assistant Professors</th>
            <th>Lecturers</th>
            <th>Teaching Assistants/Fellows</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" formControlName="facultySize1" /></td>
              <td><input type="text" formControlName="noOfFaculty1"/></td>
              <td><input type="text" formControlName="fullProfrssor1"/></td>
              <td><input type="text" formControlName="associateProfessor1"/></td>
              <td><input type="text" formControlName="assistantProfessor1"/></td>
              <td><input type="text" formControlName="leacures1"/></td>
              <td><input type="text" formControlName="teaching1"/></td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2>
        C: Full-Time Faculty Stability Information in the Relevant Computing
        Program (S)
      </h2>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>Year</th>
            <th>Total Faculty</th>
            <th>Resigned</th>
            <th>Retired</th>
            <th>Terminated</th>
            <th>New Induction</th>
          </thead>
          <tbody>
            <tr>
             <td>2011-2012</td>
              <td><input type="text"  formControlName="totalFaculty" /></td>
              <td><input type="text"  formControlName="resigned" /></td>
              <td><input type="text"  formControlName="retired" /></td>
              <td><input type="text"   formControlName="terminated"/></td>
              <td><input type="text" formControlName="newInduction" /></td>
            </tr>
            <tr>
              <td>2012-2013</td>
              <td><input type="text" formControlName="totalFaculty1" /></td>
              <td><input type="text" formControlName="resigned1"/></td>
              <td><input type="text" formControlName="retired1"/></td>
              <td><input type="text" formControlName="terminated1"/></td>
              <td><input type="text" formControlName="newInduction1"/></td>
            </tr>
            <tr>
              <td>2013-2014</td>
              <td><input type="text"  formControlName="totalFaculty2"  /></td>
              <td><input type="text"  formControlName="resigned2"/></td>
              <td><input type="text" formControlName="retired2"/></td>
              <td><input type="text" formControlName="terminated2"/></td>
              <td><input type="text" formControlName="newInduction2"/></td>
            </tr>
            <tr>
              <td>2014-2015</td>
              <td><input type="text"  formControlName="totalFaculty3"/></td>
              <td><input type="text" formControlName="resigned3" /></td>
              <td><input type="text" formControlName="retired3"/></td>
              <td><input type="text" formControlName="terminated3" /></td>
              <td><input type="text" formControlName="newInduction3"/></td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
    </div>
  </div>
</div>
<div class="my-btn">
    <div class="col-sm-12">
      <button type="button" class="btn btn-outline-primary" (click)="saveAddfac($event)">
        Submit Form
      </button>
    </div>
  </div>