<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>INSTITUTION’S AND PROGRAM’S FINANCIAL INFORMATION</h2>
      <form>
        <div class="form-group">
          <label>INSTITUTION</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>PROGRAM (S) TO BE EVALUATED </label>
          <input type="text" class="form-control" />
        </div>
      </form>

      <p>
        <small>
          Intent: Adequate financial resources are available for short- and
          long-term running of the institution and the program under
          evaluation. Proper budgeting process is in place for the
          institution and the program. Adequate financial resources are set
          aside for important academic indicators: research, faculty
          development, library, and computing resources.
        </small>
      </p>
      <h2>
        A: Financial Information about the Institution and the Program
      </h2>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td><label>Total assets of the institution</label></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>
                <label>Total endowment fund of the institution</label>
              </td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>Yearly budget for the past five years</td>
              <td>
                <table
                  width="100%"
                  border="1"
                  cellspacing="0"
                  cellpadding="0"
                >
                  <tr>
                    <td><label>2010-11</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2011-12</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2012-13</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2013-14</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2014-15</label></td>
                    <td><input type="text" /></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                Institution’s yearly budget for research and faculty
                development for the past five years
              </td>
              <td>
                <table
                  width="100%"
                  border="1"
                  cellspacing="0"
                  cellpadding="0"
                >
                  <tr>
                    <td><label>2010-11</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2011-12</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2012-13</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2013-14</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2014-15</label></td>
                    <td><input type="text" /></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>Institution’s yearly budget for library</td>
              <td>
                <table
                  width="100%"
                  border="1"
                  cellspacing="0"
                  cellpadding="0"
                >
                  <tr>
                    <td><label>2010-11</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2011-12</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2012-13</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2013-14</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2014-15</label></td>
                    <td><input type="text" /></td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td>Institution’s yearly budget for computing facilities</td>
              <td>
                <table
                  width="100%"
                  border="1"
                  cellspacing="0"
                  cellpadding="0"
                >
                  <tr>
                    <td><label>2010-11</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2011-12</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2012-13</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2013-14</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2014-15</label></td>
                    <td><input type="text" /></td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td>
                <label
                  >Total working capital of the department/school/college
                  that offers the program</label
                >
              </td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>
                Yearly budget of the department/school/college that offers
                the program
              </td>
              <td>
                <table
                  width="100%"
                  border="1"
                  cellspacing="0"
                  cellpadding="0"
                >
                  <tr>
                    <td><label>2010-11</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2011-12</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2012-13</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2013-14</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2014-15</label></td>
                    <td><input type="text" /></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                Department/school/college’s yearly budget for research and
                faculty development for the past five years
              </td>
              <td>
                <table
                  width="100%"
                  border="1"
                  cellspacing="0"
                  cellpadding="0"
                >
                  <tr>
                    <td><label>2010-11</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2011-12</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2012-13</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2013-14</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2014-15</label></td>
                    <td><input type="text" /></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>Fee Structure</td>
              <td>
                <table
                  width="100%"
                  border="1"
                  cellspacing="0"
                  cellpadding="0"
                >
                  <tr>
                    <td><label>2010-11</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2011-12</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2012-13</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2013-14</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2014-15</label></td>
                    <td><input type="text" /></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>What are sources of income</td>
              <td>
                <table
                  width="100%"
                  border="1"
                  cellspacing="0"
                  cellpadding="0"
                >
                  <tr>
                    <td><label>2010-11</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2011-12</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2012-13</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2013-14</label></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><label>2014-15</label></td>
                    <td><input type="text" /></td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <form>
        <div class="form-group">
          <label>Dean</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>Signature </label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>Date</label> <input type="date" class="form-control" />
        </div>
      </form>
    </div>
  </div>
</div>
<div class="my-btn">
    <div class="col-sm-12">
      <button type="button" class="btn btn-outline-primary">
        Submit Form
      </button>
    </div>
  </div>