<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>INFORMATION ABOUT ADMITTED STUDENTS</h2>
      <form [formGroup]=AddStudentData>
        <div class="form-group">
          <label>University/Institution</label>
          <input type="text" formControlName="university" class="form-control" />
        </div>
        <div class="form-group">
          <label>Campus</label> <input type="text" formControlName="campus" class="form-control" />
        </div>
        <div class="form-group">
          <label>Degree Progam</label> <input type="text" formControlName="degree_program" class="form-control" />
        </div>
        <div class="form-group">
          <label>Admission Session</label> <input type="text" formControlName="admission_session" class="form-control" />
        </div>
      
      <div class="table-wrapper">
        <table class="table table-striped table-bordered">
          <thead>
            <th >Student Name</th>
            <th >Father Name</th>
            <th >Gender</th>
            <th >Roll No</th>
            <th >Admission Date</th>
            <th >Nationality</th>
            <th >CNIC Number</th>
            <th >Date of Birth</th>
            <th >Mailing Address</th>
            <th >City (Mailing Address)</th>
            <th >HSSC Degree Name</th>
            <th >HSSC Total Marks</th>
            <th >HSSC Obtained Marks</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" formControlName="student_name" /></td>
              <td><input type="text" formControlName="father_name"/></td>
              <td><input type="text" formControlName="gender" /></td>
              <td><input type="text" formControlName="roll_no"/></td>
              <td><input type="date" formControlName="admission_date" /></td>
              <td><input type="text" formControlName="nationality"/></td>
              <td><input type="text" formControlName="cnic"/></td>
              <td><input type="date" formControlName="date_of_birth"/></td>
              <td><input type="text" formControlName="mailing_address"/></td>
              <td><input type="text" formControlName="city_mail_address"/></td>
              <td><input type="text" formControlName="hssc_degree_name"/></td>
              <td><input type="text" formControlName="hssc_total_marks"/></td>
              <td><input type="text" formControlName="hssc_obtained_marks"/></td>
            </tr>

          </tbody>
        </table>
      </div>
    </form>
    </div>
  </div>
</div>
<div class="my-btn">
  <div class="col-sm-12">
    <button type="button" (click)="save($event)" class="btn btn-outline-primary">
      Submit Form
    </button>
  </div>
</div>