<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>CURRICULUM RELATED INFORMATION</h2>
      <form>
        <div class="form-group">
          <label>INSTITUTION</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>PROGRAM (S) TO BE EVALUATED </label>
          <input type="text" class="form-control" />
        </div>
      </form>
      <div>
        <p>
          <small>
            Intent: Curriculum has sufficient technical content to prepare
            students for industry and graduate studies, and has adequate
            humanities and social sciences content to help students become
            well-rounded individuals. Curriculum meets the minimum
            requirements recommended in the HEC computing curriculum
            recommendations, which have the following area-wise breakdown.
            Curriculum coverage is well-planned over four years.
          </small>
        </p>
      </div>
      <h2>
        A: Summary of HEC Minimum Requirements for Computing Degree Program*
      </h2>
      <small
        >(Computing includes majors in Computer Science, Software
        Engineering and Information Technology)</small
      >

      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>Category</th>
            <th>Credit Hours</th>
            <th>Cumulative Credit Hours</th>
          </thead>
          <tbody>
            <tr>
              <td>Computing-Core Courses</td>
              <td>37</td>
              <td>76</td>
            </tr>
            <tr>
              <td>
                Major (Computer Sciences/Software Engineering/Information
                Technology)-Core Courses
              </td>
              <td>18</td>
            </tr>
            <tr>
              <td>
                Major (Computer Sciences/Software Engineering/Information
                Technology) Based –Electives
              </td>
              <td>21</td>
            </tr>
            <tr>
              <td>Supporting Sciences</td>
              <td>21</td>
            </tr>
            <tr>
              <td>General Electives</td>
              <td>15</td>
              <td>54</td>
            </tr>
            <tr>
              <td>University Electives</td>
              <td>18</td>
            </tr>
            <tr>
              <td><b> Total Credit Hours </b></td>
              <td></td>
              <td><b> 130 </b></td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>
        B. Curriculum Summary/Comparison <br> </h2>Provide the summary of the program
        (under evaluation for accreditation) on the basis of comparison with
        the respective above mentioned HEC recommended curriculum
     

      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>Category</th>
            <th>Credit Hours</th>
            <th>Cumulative Credit Hours</th>
          </thead>
          <tbody>
            <tr>
              <td>Computing-Core Courses</td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>
                Major (Computer Sciences/Software Engineering/Information
                Technology)-Core Courses
              </td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>
                Major (Computer Sciences/Software Engineering/Information
                Technology) Based –Electives
              </td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>Supporting Sciences</td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>General Electives</td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>University Electives</td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td><b> Total Credit Hours </b></td>
              <td></td>
              <td><input type="text" /></td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>
        C. PROVIDE COMPLETE SUMMARY OF THE RESPECTIVE PROGRAM OF ALL COURSES
        INVOLVING COURSE CODE, COURSE TITLE, CREDIT HOURS, PREREQUSITE FOR
        THE FOLLOWING CATEGORIES:
      </h2>
      <h2>Computing-Core Courses</h2>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Credit Hours</th>
            <th>Prerequisite</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2>Major Core Courses</h2>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Credit Hours</th>
            <th>Prerequisite</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2>Major Based Electives Courses</h2>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Credit Hours</th>
            <th>Prerequisite</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>Supporting Sciences</h2>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Credit Hours</th>
            <th>Prerequisite</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>General Electives Courses</h2>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Credit Hours</th>
            <th>Prerequisite</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>University Elective Courses</h2>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Credit Hours</th>
            <th>Prerequisite</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
              <td><input type="text" /></td>
            </tr>
          </tbody>
        </table>
      </div>
      <form>
        <div class="form-group">
          <label>Date</label> <input type="date" class="form-control" />
        </div>
      </form>
    </div>
  </div>
</div>
 <div class="my-btn">
    <div class="col-sm-12">
      <button type="button" class="btn btn-outline-primary">
        Submit Form
      </button>
    </div>
  </div>