<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Filed Audit Guidelines</h2>
      <h3>Audit Schedule</h3>
      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>Time</th>
            <th>Activity</th>
            <th>Items of NCEAC.FORM.005 Covered</th>
          </thead>
          <tbody>
            <tr>
              <td>09:00 – 09:15</td>
              <td>Meet Dean of the Program<br>
               Explain aim of the visit<br>
               Describe the audit process
              </td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>09:15 – 09:30</td>
              <td>Meet HOD of the program</td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>09:30 – 10:15</td>
              <td>
                Presentation <br>• Program Goals<br> • Curricula Summary <br>• Faculty
                Summary <br>• Student Summary <br>• Infrastructure Summary <br>• Alumni
                Summary <br>• Q/A Members <br>• HOD <br>• All Faculty
              </td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>10:15 – 11:30</td>
              <td>
                Faculty Meeting<br> • Around 10 min per faculty <br>• Graduation <br>•
                Personal Background <br>• Area of Interest <br>• Perception about
                the program, Students and peers <br>• Opportunities for
                professional growth<br>• Research opportunities <br>• Salary
                perception <br>• Teaching Load
              </td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>11:30 – 12:30</td>
              <td>
                Infrastructure Visit <br>• Lab Audit <br>• Library <br>• Classrooms <br>•
                Faculty Offices
              </td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>12:30- 1:30</td>
              <td>Zuhar Prayer+Lunch</td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>2:00 – 3:00</td>
              <td>
                Classroom Visit <br>• Two classrooms 30 min each <br>• Student
                Interview <br>• Student Assessment <br>• Student Perception <br>•
                Student Feedback
              </td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>3:00 – 4:00</td>
              <td>Forms Filling</td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>4:00 – 4:30</td>
              <td>
                Meeting with Dean / Exit Meeting <br>• Findings <br>•
                Recommendations <br>• Next Procedure
              </td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>4:30</td>
              <td>End of Filed Audit</td>
              <td><input type="text" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="my-btn">
    <div class="col-sm-12">
      <button type="button" class="btn btn-outline-primary">
        Submit Form
      </button>
    </div>
  </div>