<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Course Log Template</h2>
      <form [formGroup]="addcourselog">
        <div class="form-group">
          <label>INSTITUTION</label>
          <input type="text" formControlName="institution" class="form-control" />
        </div>
        <div class="form-group">
          <label>PROGRAM (S) TO BE EVALUATED </label>
          <input type="text" class="form-control" formControlName="program" />
        </div>

      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td><label>Course Name</label></td>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td><label>Catalog Number</label></td>
              <td><input type="text" formControlName="catalogNumber" /></td>
            </tr>
            <tr>
              <td><label>Instructor Name</label></td>
              <td><input type="text" formControlName="instructorName" /></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-wrapper">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <thead>
            <th>Date</th>
            <th>Duration</th>
            <th>Topics Covered</th>
            <th>Evaluation Instruments used</th>
            <th>Signature</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="date" formControlName="date" /></td>
              <td><input type="text" formControlName="duration"/></td>
              <td><input type="text" formControlName="topicsCovered" /></td>
              <td><input type="text" formControlName="evaluationInstruments"/></td>
              <td><input type="text" formControlName="siganture"/></td>
            </tr>
          </tbody>
        </table>
      </div>

    
        <div class="form-group">
          <label>Instructor Signature </label>
          <input type="text" class="form-control"formControlName="instructorSignature"  />
        </div>
        <div class="form-group">
          <label>Date</label> <input type="date" formControlName="submitDate"  class="form-control" />
        </div>
      </form>
    </div>
  </div>
</div>
<div class="my-btn">
    <div class="col-sm-12">
      <button type="button" class="btn btn-outline-primary" (click)="saveAddcourselog($event)">
        Submit Form
      </button>
    </div>
  </div>