<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>GRADING POLICY AND ITS IMPLEMENTATION</h2>
      <form>
        <div class="form-group">
          <label>INSTITUTION</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>PROGRAM (S) TO BE EVALUATED </label>
          <input type="text" class="form-control" />
        </div>
        <p>
          <small>
            Intent: Grades are assigned according to a consistent policy
            across the department. It is expected that a formal grading
            policy is enforced and grades submitted by an instructor are
            maintained.
          </small>
        </p>

        <h2>A: Grading Policy</h2>
        <div class="form-group">
          <label>.Grades and corresponding GPAs </label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label
            >.Policy for grade assignment (curve or absolute grading)
          </label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label
            >.Policy for insuring correct implementation of the above policy
            and timely intimation of grades to students
          </label>
          <input type="text" class="form-control" />
        </div>

        <div class="form-group">
          <label>.Any policy to modify already announced grades </label>
          <input type="text" class="form-control" />
        </div>

        <div class="form-group">
          <h2
            ><b>B: </b> Procedures Followed for the Implementation of the
            Grading Policy
          </h2>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <h2
            ><b>C: </b> Policy for ensuring Correct Posting of Grades
            Submitted by an Instructor
          </h2>
          <input type="text" class="form-control" />
        </div>

        <div class="form-group">
          <label>Vice Chancellor or Rector </label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>Signature </label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>Date </label> <input type="date" class="form-control" />
        </div>
      </form>
    </div>
  </div>
</div>
<div class="my-btn">
    <div class="col-sm-12">
      <button type="button" class="btn btn-outline-primary">
        Submit Form
      </button>
    </div>
  </div>