<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Course Display for the Visit</h2>
      <p>
        Three samples for each computer science course must be available in
        a room for study by the evaluation team at all times during the
        evaluation visit. The course outline for each course in the computer
        science curriculum should also be available in the same room. It
        will be very helpful if the display room contains at least two
        computers with Internet connection. The course material display for
        a course must include at least the following items. • Course name
        and number, number of credit hours, meeting times, etc. • Textbook
        and other required material (e.g. manuals, reference booklets,
        standards and documents) • Instructor’s name and contacts •
        Syllabus/schedule (provide hardcopy and URL if only available
        on-line) • Introductory pages that include course objectives,
        pedagogical approach, assessment methods (and how these relate to
        the program objectives if appropriate) • Course policies •
        Introductory sheet that indicates course locations or sites that
        show evidence of writing, presentations, ethics etc. as appropriate
        • Assignments and projects, tests, exams and important handouts •
        Student work (examples of graded high/medium/low quality work as
        well as tests/exams etc.) • Any feedback mechanisms/examples to
        students that might be on-line • Any substantive electronically
        posted communication, threaded discussion, or teamwork etc. • Course
        evaluations (measures of success that include, for example, the
        results of student surveys and the achievements of students in
        current or subsequent courses) • Proposed or changes as a result of
        formative surveys
      </p>
      <p>
        <small>
          (Fill out the following table for each course in your computer
          science curriculum. A filled out form should not be more than 2-3
          pages.)
        </small>
      </p>

      <form [formGroup]="addCoursevisit">
        <div class="form-group">
          <label>Vice Chancellor or Rector</label>
          <input type="text"  formControlName="viceChancellor" class="form-control" />
        </div>
        <div class="form-group">
          <label>Signature </label>
          <input type="text" formControlName="signature" class="form-control" />
        </div>
        <div class="form-group">
          <label>Date</label> <input type="date" formControlName="date" class="form-control" />
        </div>
      </form>
    </div>
  </div>
</div>
<div class="my-btn">
    <div class="col-sm-12">
      <button type="button" class="btn btn-outline-primary" (click)="saveCoursevisit($event)">
        Submit Form
      </button>
    </div>
  </div>